h1 {
    text-align: center;
    font-weight: bold;
}

.chapter-name {
    font-weight: bold;
}

.chapter > .horizontal-lists {
    color: blue;
}

#current-chapter > .chapter-name {
    color: red; 
}